<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet">
    <style>
        @@font-face {
            font-family: "MonoLisa";
            src: url('/assets/monalisa/MonoLisa-Thin.ttf') format('truetype');
            font-style: normal;
            font-weight: 100;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisa";
            src: url('/assets/monalisa/MonoLisa-ThinItalic.ttf') format('truetype');
            font-style: italic;
            font-weight: 100;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisa";
            src: url('/assets/monalisa/MonoLisa-ExtraLight.ttf') format('truetype');
            font-style: normal;
            font-weight: 200;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisa";
            src: url('/assets/monalisa/MonoLisa-ExtraLightItalic.ttf') format('truetype');
            font-style: italic;
            font-weight: 200;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisa";
            src: url('/assets/monalisa/MonoLisa-Light.ttf') format('truetype');
            font-style: normal;
            font-weight: 300;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisa";
            src: url('/assets/monalisa/MonoLisa-LightItalic.ttf') format('truetype');
            font-style: italic;
            font-weight: 300;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisa";
            src: url('/assets/monalisa/MonoLisa-Regular.ttf') format('truetype');
            font-style: normal;
            font-weight: 400;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisa";
            src: url('/assets/monalisa/MonoLisa-RegularItalic.ttf') format('truetype');
            font-style: italic;
            font-weight: 400;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisa";
            src: url('/assets/monalisa/MonoLisa-Medium.ttf') format('truetype');
            font-style: normal;
            font-weight: 500;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisa";
            src: url('/assets/monalisa/MonoLisa-MediumItalic.ttf') format('truetype');
            font-style: italic;
            font-weight: 500;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisa";
            src: url('/assets/monalisa/MonoLisa-SemiBold.ttf') format('truetype');
            font-style: normal;
            font-weight: 600;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisa";
            src: url('/assets/monalisa/MonoLisa-SemiBoldItalic.ttf') format('truetype');
            font-style: italic;
            font-weight: 600;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisa";
            src: url('/assets/monalisa/MonoLisa-Bold.ttf') format('truetype');
            font-style: normal;
            font-weight: 700;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisa";
            src: url('/assets/monalisa/MonoLisa-BoldItalic.ttf') format('truetype');
            font-style: italic;
            font-weight: 700;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisa";
            src: url('/assets/monalisa/MonoLisa-ExtraBold.ttf') format('truetype');
            font-style: normal;
            font-weight: 800;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisa";
            src: url('/assets/monalisa/MonoLisa-ExtraBoldItalic.ttf') format('truetype');
            font-style: italic;
            font-weight: 800;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisa";
            src: url('/assets/monalisa/MonoLisa-Black.ttf') format('truetype');
            font-style: normal;
            font-weight: 900;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisa";
            src: url('/assets/monalisa/MonoLisa-BlackItalic.ttf') format('truetype');
            font-style: italic;
            font-weight: 900;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisaNerdFont";
            src: url('/assets/monalisa/MonoLisaNerdFont-ExtraLightRegular.ttf') format('truetype');
            font-style: normal;
            font-weight: 200;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisaNerdFont";
            src: url('/assets/monalisa/MonoLisaNerdFont-ExtraLightItalic.ttf') format('truetype');
            font-style: italic;
            font-weight: 200;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisaNerdFont";
            src: url('/assets/monalisa/MonoLisaNerdFont-Italic.ttf') format('truetype');
            font-style: italic;
            font-weight: 400;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisaNerdFont";
            src: url('/assets/monalisa/MonoLisaNerdFont-Bold.ttf') format('truetype');
            font-style: normal;
            font-weight: 700;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisaNerdFont";
            src: url('/assets/monalisa/MonoLisaNerdFont-BoldItalic.ttf') format('truetype');
            font-style: italic;
            font-weight: 700;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisaNerdFont";
            src: url('/assets/monalisa/MonoLisaNerdFont-ExtraBoldRegular.ttf') format('truetype');
            font-style: normal;
            font-weight: 800;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisaNerdFont";
            src: url('/assets/monalisa/MonoLisaNerdFont-ExtraBoldItalic.ttf') format('truetype');
            font-style: italic;
            font-weight: 800;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisaNerdFont";
            src: url('/assets/monalisa/MonoLisaNerdFont-BlackRegular.ttf') format('truetype');
            font-style: normal;
            font-weight: 900;
            font-display: swap;
        }

        @@font-face {
            font-family: "MonoLisaNerdFont";
            src: url('/assets/monalisa/MonoLisaNerdFont-BlackItalic.ttf') format('truetype');
            font-style: italic;
            font-weight: 900;
            font-display: swap;
        }
    </style>
    <link rel="stylesheet" href="@Assets["app.css"]" />
    

    <link rel="stylesheet" href="/assets/fontawesome/css/fontawesome.css" />
    <link rel="stylesheet" href="/assets/fontawesome/css/brands.css" />
    <link rel="stylesheet" href="/assets/fontawesome/css/regular.css" />
    <link rel="stylesheet" href="/assets/fontawesome/css/thin.css" />
    
    <link rel="stylesheet" href="@Assets["CardGames.Poker.Web.styles.css"]" />
    <link rel="stylesheet" href="_content/Blazor-ApexCharts/css/apexcharts.css" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="@Assets["Components/Account/Shared/PasskeySubmit.razor.js"]" type="module"></script>
    <script src="@Assets["elements.cardmeister.min.js"]" type="module"></script>
    <script src="@Assets["audio.js"]"></script>
    <script src="@Assets["draggable.js"]"></script>
    <script src="_content/Blazor-ApexCharts/js/apex-charts.js"></script>
    <script src="_content/Blazor-ApexCharts/js/blazor-apexcharts.js"></script>
    
    
    </body>

</html>
